<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Fix AsRock Z390 BIOS DSDT Device(RTC) bug. If BIOS &gt; 1.2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					oAqTU1RBUwE=
					</data>
					<key>Replace</key>
					<data>
					oAqRCv8L//8=
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>EnableC2</key>
			<false/>
			<key>EnableC4</key>
			<false/>
			<key>EnableC6</key>
			<false/>
			<key>EnableC7</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-0-SataTabl.aml</string>
			<string>SSDT-1-CpuSsdt.aml</string>
			<string>SSDT-2-SaSsdt.aml</string>
			<string>SSDT-3-xh_cfsd4.aml</string>
			<string>SSDT-4-TbtTypeC.aml</string>
			<string>SSDT-5-UsbCTabl.aml</string>
			<string>SSDT-6-ADebTabl.aml</string>
			<string>SSDT-x1_0-Cpu0Ist.aml</string>
			<string>SSDT-x1_1-ApIst.aml</string>
			<string>SSDT-x1_2-Cpu0Cst.aml</string>
			<string>SSDT-x1_3-ApCst.aml</string>
			<string>SSDT-x1_4-Cpu0Hwp.aml</string>
			<string>SSDT-x1_5-ApHwp.aml</string>
			<string>SSDT-x1_6-HwpLvt.aml</string>
			<string>SSDT-x1_7-Cpu0Psd.aml</string>
			<string>SSDT-x1_8-ApPsd.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<string>No</string>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>LANInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Windows 10</string>
					<key>Ignore</key>
					<false/>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>78C7965A-90D8-4B72-AD44-011D9E1F3630</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Mac OS X</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>58B0852C-46EE-33BE-A116-A2FDCB3E32C8</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Light</string>
		<key>Hide</key>
		<array>
			<string>PREBOOT</string>
			<string>RECOVERY</string>
			<string>WindowsHDD</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Mojave</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3E7</string>
		<key>MLB</key>
		<string>C02726902CDH69F1M</string>
		<key>ROM</key>
		<data>
		aWvkgV76
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>02/18/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM192.88Z.F000.B00.1902181222</string>
		<key>Board-ID</key>
		<string>Mac-63001698E7A34814</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02911401J9KGQGJC</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>220.250.368.0.0</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>ProductName</key>
		<string>iMac19,2</string>
		<key>SerialNumber</key>
		<string>C02YF0TRJWDW</string>
		<key>SmUUID</key>
		<string>7F178580-7A16-44AA-9B00-2267B5815EFA</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>1FC62B76-E337-4A8E-9227-52FCE49495A9</string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
