<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>8th Gen Core Processor Host Bridge/DRAM Registers</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x12,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Cannon Lake PCH Thermal Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Cannon Lake PCH USB 3.1 xHCI Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>RAM memory</string>
				<key>model</key>
				<string>Cannon Lake PCH Shared SRAM</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>Cannon Lake PCH HECI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>Cannon Lake PCH SATA AHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Cannon Lake PCH PCI Express Root Port #19</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@1,0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>AR9485 Wireless Network Adapter</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>Z390 Chipset LPC/eSPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>
				AAAAAA==
				</data>
				<key>model</key>
				<string>Cannon Lake PCH cAVS</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>Cannon Lake PCH SMBus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Serial bus controller</string>
				<key>model</key>
				<string>Cannon Lake PCH SPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>Ethernet Connection (7) I219-V</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,GfxYTile</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,ig-platform-id</key>
				<data>
				BwCbPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device-id</key>
				<data>
				mz4AAA==
				</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-alldata</key>
				<data>
				AQUJAAAIAADHAwAA/wQKAAAEAADHAwAA/wYIAAAEAADH
				AwAA
				</data>
				<key>framebuffer-con0-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-portcount</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>???</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
